.hero {
  background-color: var(--footer-hero-bg-color);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 16px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
    }
  }

  &__button {
    background: var(--accent-color);
    border-radius: 4px;

    color: var(--address-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    min-width: 200px;
    min-height: 50px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:active {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &:hover,
    &:focus {
      background-color: var(--primary-bg-color);
      color: var(--accent-color);
    }
  }
}
