.team {
  background-color: var(--secondary-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team__list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.cards__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;

  padding-bottom: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-left: 0;
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-left: 0;
    margin-right: 30px;
  }
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  display: block;
}

.cards__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
  margin-top: 30px;
  display: block;
}

.cards__text {
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: block;
}
